# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional - uncomment if needed)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.packages.generated

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
.gradle/
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
/android/app/debug
/android/app/profile
/android/app/release

# iOS/XCode related
**/ios/**/DerivedData/
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/xcuserdata
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral
**/ios/Flutter/flutter_assets/

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Windows
**/windows/flutter/generated_plugin_registrant.*

# Linux
**/linux/flutter/generated_plugin_registrant.*

# Coverage
coverage/